<ng-template #divloading>
  <div
    style="
      padding: 10px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<div *ngIf="hero; else divloading" class="p-2 flex gap-2">

  <!-- HERO IMAGE -->
  <mat-card class="w-6">
    <mat-card-header>
      <mat-card-title>{{ hero.alter_ego }}</mat-card-title>
      <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
    </mat-card-header>

    <img [src]="hero | heroImage" [alt]="hero.superhero" mat-card-image />
  </mat-card>

  <!-- HERO INFO -->
  <mat-card class="w-6">
    <mat-card-header>
      <mat-card-title>Información</mat-card-title>
      <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item>{{ hero.first_appearance }}</mat-list-item>
        <mat-list-item>{{ hero.characters }}</mat-list-item>
        <mat-list-item>{{ hero.publisher }}</mat-list-item>
        <mat-list-item>{{ hero.alter_ego }}</mat-list-item>
      </mat-list>

      <button mat-button color="warn" (click)="goBack()">Regresar</button>
    </mat-card-content>
  </mat-card>
</div>
